
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css' type='text/css' />

<style>
    .marker {
        background-image: url('../../Images/map_marker.png');
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
</style>

<h2>Healthy Places in Melbourne</h2>

<div id='map'></div>
<script>
    var geojson = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "properties": {
                    "message": "Grill'd, Elsternwick",
                    "iconSize": [60, 60]
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        145.0029, -37.8847
                    ]
                }
            },
            //145.02390, -37.88862
            {
                "type": "Feature",
                "properties": {
                    "message": "Healthy Sushi, CBD",
                    "iconSize": [50, 50]
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        144.9633, -37.8154
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "message": "Fitness First, Chadstone",
                    "iconSize": [40, 40]
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        145.0834, -37.8772
                    ]
                }
            }
        ]
    };

    mapboxgl.accessToken = 'pk.eyJ1Ijoic2luZHdhbmlha3NoYXkiLCJhIjoiY2pubHBkbmtjMDl0MTNwbnhxbmh4ZzlvZyJ9.-2_pQ-YZLWJF5io7ECYDCQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-96, 37.8],
        zoom: 3
    });

    // Add geolocate control to the map.
    map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    }));

    geojson.features.forEach(function (marker) {
        // create a DOM element for the marker
        var el = document.createElement('div');
        el.className = 'marker';

        el.addEventListener('click', function () {
            window.alert(marker.properties.message);
        });

        // add marker to map
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .addTo(map);
    });

    map.addControl(new MapboxDirections({
        accessToken: mapboxgl.accessToken
    }), 'top-left');

</script>

